name: "cycle-route-backend"

services:
  postgres:
    image: postgis/postgis:18-3.6
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres_db
    ports:
      - "5432:5432"
    volumes:
      - postgis_data:/var/lib/postgresql
    networks:
      - intranet
  app:
    build: .
    volumes:
      - .:/app
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    networks:
      - intranet
networks:
  intranet:
volumes:
  postgis_data:
