name: "SERVICE_NAME"

services:
  postgres:
    image: postgis/postgis:18-3.6
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres_db
    ports:
      - "5432:5432"
    volumes:
      - postgis_data:/var/lib/postgresql
volumes:
  postgis_data:
