basePath: /api/v1
definitions:
  response.ErrorResponse:
    properties:
      code:
        example: 400
        type: integer
      msg:
        example: Bad Request
        type: string
    type: object
  user.CreateUserRequest:
    properties:
      email:
        type: string
      first_name:
        type: string
      kratos_id:
        type: string
      last_name:
        type: string
      name:
        type: string
    required:
    - kratos_id
    - name
    type: object
  user.UserResponse:
    properties:
      user:
        $ref: '#/definitions/user.UserResponseModel'
    type: object
  user.UserResponseModel:
    properties:
      administrative_area:
        type: string
      country_code:
        type: string
      description:
        type: string
      email:
        type: string
      first_name:
        type: string
      geom:
        type: string
      has_set_location:
        type: boolean
      highlighted_photo_id:
        type: integer
      id:
        type: string
      last_name:
        type: string
      locale:
        type: string
      locality:
        type: string
      name:
        type: string
      postal_code:
        type: string
    type: object
host: localhost:8080
info:
  contact: {}
  description: This is a server for Cycle-Route API.
  title: Cycle-Route API
  version: "1.0"
paths:
  /users:
    post:
      consumes:
      - application/json
      parameters:
      - description: Create User Request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/user.CreateUserRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/user.UserResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/response.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/response.ErrorResponse'
      summary: ユーザーを作成する
      tags:
      - users
  /users/{id}:
    get:
      consumes:
      - application/json
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/user.UserResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/response.ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/response.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/response.ErrorResponse'
      summary: ユーザーを取得する
      tags:
      - users
swagger: "2.0"
